@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@1&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;


}

body{
    background-color: black;
}
header{
    background-color: antiquewhite;
    height: 10vh;
    text-align: center;
    font-size: 3rem;
    font-family: 'Azeret Mono', monospace;
    padding-top: 1%;
    
}

div{
    height: 22vh;   
}
#fahrenheit{
    border-top:4px solid white ;
    border-bottom:4px solid white ;
}

input[type=number]{
    width: 100%;
    height: 100%;
    outline: none;
    background: black;
    color: white;
    font-size: 3em;
    text-align: center;
    border: 0;
    font-family: 'Azeret Mono', monospace;
}

::-webkit-input-placeholder{ /*chrome*/
    color: #222;
}

::-moz-placeholder{ /*firefox*/
    color: #222;
}

::-ms-input-placeholder{/*edge*/
    color: #222;
}


footer{
    background-color: black;
    color: white;
} 

.ft-social-list{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    border-top: 4px solid white;
}
.ft-social-list li{
    padding: 2rem;
}

.fab{
    color: white;
}

.ft-main{
    text-align: center;
    font-size: 1.5rem;
}